<div class="row">
    {{! if there are hobby}}
    {{#if hobby}}

    {{! loop through all hobby}}
        <div class="col-md-12">
       <div class="card">
           <div class="card-header">About me</div>
        <div class="card-body">
            <p>I like 
                <ul>
                {{#hobby}}
                <li>{{this}}</li>  
                {{/hobby}}
                </ul> 
            on the weekend.</p>
                {{!-- <p>I like {{randomHobbies}} on the weekend.</p> --}}
        </div>
        </div>
    </div>
    {{else}}
        <p>I have no hobbies :(</p>
    {{/if}}

    
</div>